body{

margin:0;

font-family:Arial, sans-serif;

background:#111;

color:white;

}



.menu-btn{

position:fixed;

top:20px;

left:20px;

z-index:1000;

font-size:30px;

background:#222;

color:white;

border:none;

border-radius:10px;

padding:10px 15px;

cursor:pointer;

}



#sidebar{

position:fixed;

top:0;

left:-300px;

width:270px;

height:100%;

background:#181818;

transition:0.3s;

z-index:999;

padding-top:70px;

}



#sidebar.active{

left:0;

}



#sidebar h2{

text-align:center;

}



#sidebar a{

display:block;

padding:15px;

color:white;

text-decoration:none;

font-size:18px;

}



#sidebar a:hover{

background:#333;

}



.content{

text-align:center;

padding:100px 20px;

}



h1{

font-size:55px;

}



.description{

max-width:800px;

margin:auto;

line-height:1.7;

font-size:18px;

}



.play{

display:inline-block;

margin-top:30px;

background:#00aaff;

padding:15px 35px;

border-radius:10px;

color:white;

text-decoration:none;

}



.card{

background:#181818;

padding:25px;

margin:25px auto;

max-width:400px;

border-radius:15px;

}


.stats{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:50px;

}


.stats div{

background:#181818;

padding:20px;

border-radius:15px;

width:150px;

}
